
.body
{
    background-color: royalblue;
    width: 20em;
    border:black solid 2px;
    justify-content:center;
    margin-left: 30em;
}

.background
{
    background-color: royalblue ;
    width: 30em;
    border:black solid 2px;
    margin-left: 24em;
    justify-content:end;
}

.quiz
{
    background-color: royalblue ;
    width: 22.4em;
    border:black solid 2px;
    margin-left: 18em;
}
